pkgbase = sway-services-git
	pkgdesc = Collection of sway and friends systemd unit files
	pkgver = r29.6c5d011
	pkgrel = 1
	url = https://github.com/jtheoof/sway-services
	arch = any
	license = MIT
	makedepends = meson
	depends = sway
	optdepends = python3: for swayidle.service
	optdepends = python-yaml: for swayidle.service
	optdepends = mako
	optdepends = swayidle
	optdepends = kanshi
	source = git+https://github.com/jtheoof/sway-services.git#branch=jtheoof/oguri
	md5sums = SKIP

pkgname = sway-services-git

